*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    width: 80px;
}
.logo-img{
    width: 100%;
}
.nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    text-align: center;
}
.nav ul a,.footer a{
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 20px;
    margin-right: 40px;
    font-weight: bolder;
    color: #2a42fa;

}
.logo-img img{
    width: 150px;
    align-items: left;
}
.nav ul li a:hover{
    color:rgb(157, 234, 197);
}
header{
    background: rgb(188, 205, 205);
    box-shadow: 0;
}
.section{
    width: 100%;
    display: flex;
}
.left,.right{
    width: 50%;
    margin: 20px;
}
.img{
    width: 800px;

}
.right{
    text-align: center;
    padding: 80px;
    padding-top: 100px;
}
.left{
    width: 80%;
}
h1{
    font-size: 40px;
    padding-bottom: 20px;
  color:#8e4dc4;
}
h3{
    font-size: 30px;
    padding-bottom: 10px;
    color:#8e4dc4;
}
p{
    font-size: 20px;
    padding-bottom: 30px;
    color: rgb(59, 176, 114);

}
section{
    .banner{
        padding: 25px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 700px;
        margin: 0;
    }
    }
.footer {
     background: rgb(188, 205, 205);
     text-align: center;
}
.About-item,.contact-item,.index-box{
    background-color: rgb(235, 218, 247);
}
form{
    .btn{
        display: inline-block;
        padding: 5px 20px;
        text-decoration: none;
        border-radius: 30px;
        font-size: 16px;
        font-weight: bold;
    }
    .btn:hover{
        background-color: rgb(52, 159, 123);
}
.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bf90e5;
    margin: 0;
    padding: 0;
}
nav a{
    color: rgb(231, 216, 216);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.section{
    padding: 20px;
    text-align: left;
    width: 80%;
    margin: 0;
    line-height: 1.6;
}

h2{
    color: rgb(8, 8, 8);
    text-align: left;
    margin-bottom: 10px;
    font-size: 25px;
}

ul h2,h3{
    list-style: square;
    margin-left: 40px;
    padding-left: 10px;
    text-align: left;
}

.ul li{
    margin-bottom: 8px;
    color:  rgb(59, 176, 114);
}

.img{
    flex: 1;
    text-align: center;
    width: 100%;
    max-width: 50px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

}
.equipment-section{
    position: relative;
    background-image: url(images/img2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 80px 40px;
    overflow: hidden;
    color: white;
    text-align: center;
}
.equipment-section:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.55);
    z-index: 0;
}
.equipment-section h2{
    text-align: center;
    color: #c23232;
    margin-bottom: 40px;
    font-size: 36px;
}
.equipment-section >*{
    position: relative;
    z-index: 1;

}
.equipment-section p{
    text-align: center;
    color: #e6e6e6;
    margin-bottom: 40px;
    font-size: 18px;
}
.equipment-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.equipment-item{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    width: 250px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s,background-color 0.3s;
    backdrop-filter: blur(3px);
}
.equipment-item:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.2);
}
.equipment-item img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}
.equipment-item h3{
    color: #fa2a2a;
    margin: 10px 0 5px;
    font-size: 25px;
}
.equipment-item p{
    color: #fffefe;
    font-size: 15px;
    margin-bottom: 10px;
}
@media(max-width:900px){
    .section,.index-box{
        flex-direction: column;
        padding: 20px;
    }
    h1.h3,h2{
        font-size: 28px;
    }
    p{
        font-size: 16px;
    }
    nav a{
        display: inline-block;
        margin:8px;
    }
    img,.left{
        max-width: 100%;
        margin-top: 150px;
    }

 .contact-item{
        width: 95%;
        padding: 10px;
    }
    .equipment-item{
        max-width: 100%;
        margin: top 15px; ;
    }
    nav ul a{
        flex-direction: column;
        width: 100%;
    }
}
    



    


    

